<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <style>
  ul {
    background-color: #03a9f4;
    padding: 30px;
    border-radius: 10px;
  }
  li {
    background-color: #68cbf8;
    font-weight: bolder;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    display: inline;
  }
  </style>
  <body>
    <ul>
        <li> <a href="/database">Rectangle Table</a> </li>
        <li> <a href="/rectangleForm">Add Rectangle</a> </li>
    </ul>
  </body>
</html>
