<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul class="recNav">
        <li> <a href="/database">Rectangle table</a> </li>
        <li> <a href="/rectangleForm">Add Rectangle</a> </li>
    </ul>
  </body>
</html>
