html {
  background-color: #b3e5fc
}

body {
  width: 90%;
  margin: 20px;
}

table,th,td {
  background-color: white;
  table-layout: fixed;
  width: 30%;
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 10px;
}

table {
  border-radius: 10px;
}

th {
  background-color: #DCDCDC;
}

th, td {
  padding: 10px;
}

.form {
  margin:2px;
  border-radius: 5px;
  padding: 10px;
}

#submit {
  background-color: #DCDCDC;
  font-weight: bolder;
  width: 100px;
}
