<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AddRectangle</title>
      <link rel="stylesheet" href="./stylesheets/Rectangles.css">
  </head>
  <body>
    <%- include ("../partials/rectanglesNav.ejs") %>

    <h1>Add a rectangle</h1>
    <form class="addRectangle" action="/addRectangle" method="post">
      <input class="form" type="text" name="name" value="" placeholder="Name"> <br>
      <input class="form" type="number" name="height" value="" placeholder="Height"> <br>
      <input class="form" type="number" name="width" value="" placeholder="Width"> <br>
      <input class="form" type="text" name="color" value="" placeholder="Color"><br>
      <input class="form" id="submit" type="submit" name="sub" value="Submit">
    </form>
  </body>
</html
